@mixin clearfix() {
	*zoom:1;

	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}

div, section, ul {
	@include clearfix();
}

.page-header, .content {
	width: 800px;
	margin: 0 auto;
}